<div class='formtable'>

<% form_for(@role) do |f| %>
<%= f.error_messages %>


<table>
	<tr>
		<th colspan=2>Editing role</th>
	</tr>
  <tr>
    <td><%= f.label :name %>:</td>
    <td><%= f.text_field :name %></td>
  </tr>
</table>
<BR>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>